/* navbar basic default style */
.navbar{
    background-color: #222;
    padding: 15px;
    color: white;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
.navbar h3{
    text-shadow: rgb(255,255,255) 0 0 4px;
    font-size: 25px;
    font-weight: 200;
    margin-right: 15px;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}
.navbar ul li{
    margin-left: 10px;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
/* card basic default style */
.card{
    background-color: #333;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    padding: 15px;
    margin: 15px;
}